@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
label,
button{
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  
}
input:focus {
  outline: 0;
}

input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

button,
input[type="button"],
input[type="submit"],
input[type="checkbox"],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="number"],
input[type="text"] {
  border-bottom: 1px solid #191919;;
  font-weight: 400;
  font-size: 20px;
  color: #191919;
  width: 400px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #191919;
}



input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
}


button,
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto;
  cursor: pointer;
}

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}


body {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 510px 1fr;
  background: #F0F0F0;
  font-family: "Montserrat";
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 247px;
  height: 242px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  gap: 50px;
  padding: 166px 128px;
}

/* .form-popup {
  display: none;
  border: 3px solid #f1f1f1;

} */

.form {
  background: #F0E2CE;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  color: #191919;
  display: flex;
  flex-direction: column;
  
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 31px;
  position: fixed;
  top: 20%;
}

.main-form h2 {
  font-weight: 800;
  font-size: 30px;
}

.del-btn {
  border: 1px solid black;
}

.btn {
  background: #72765C;
  border-radius: 15px;
  width: 173px;
  height: 64px;
  font-size: 20px;
  color: #fff;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 20px;
}

.input-container label {
  font-weight: 400;
  font-size: 20px;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-bottom: 1px solid rgba(211, 59, 82, 0.9);
}

.remove-btn {
border: solid 1px black;
}

#error {
  color: #D33B52;
}

.author {
  font-style: italic;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle {
  display: flex;
  gap: 7px;
  font-size: 20px;

  align-items: center;
  margin-top: -25px;
}

.del {
  color: #000;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
  font-size: 50px;
}

.log {
  position: fixed;
  right: 58px;
bottom: 50px;
width: 292px;
height: 190px;
background: #FFFFFF;

box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
border-radius: 10px;
display: flex;
flex-direction: column;
padding: 35px 50px;
gap: 5px;
color: #000000;

}

.log h2 {
  font-weight: 400;
font-size: 25px;
text-align: center;
margin-bottom: 10px;
}

.log p {
  font-size: 15px;
 
}